html {
  background-color: hsl(210,12%,30%);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.game-container {
  position: relative;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  background-color: slategrey;
  overflow: hidden;
  box-shadow: 8px 10px 50px hsl(0, 0%, 5%);
}

.SessionStats {
  position: fixed;
  top: 0px;
  width: 100vw;
}

.SessionStats span {
  color: lightgrey;
  font-size: 30px;
  font-weight: bold;
}

.Inventory {
  position: absolute;
  top: 10vh;
  left: 92vw;
  width: 6vw;
  height: 80vh;
  border-radius: 10px;
  background-color: slategrey;
}

.StatBar {
  position: absolute;
  border-radius: 10px;
  background-color: lightgrey;
  box-shadow: 8px 10px 50px hsl(0, 0%, 5%);
}

.EquipmentCompare {
  position: fixed;
  left: 35%;
  top: 30%;
  z-index: 10;
  width: 30%;
  color: lightgrey;
}

.EquipmentCompare .card {
  background-color: grey;
}

.EquipmentCompare .item-compare-card {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.card-prompt {
  position: fixed;
  top: 10%;
  left: 20%;
  max-width: 60%;
  max-height: 60%;
  z-index: 10;
  color: lightgrey;
}

.HelpMenu {
  width: 100%;
}

.HelpMenu .collapsible-header {
  background-color: hsl(210,12%,30%);
}

.HelpMenu .collapsible-body {
  background-color: grey;
}

.card-prompt .card {
  background-color: grey;
}

.card-prompt .title {
  color: lightgrey;
}

.card-prompt .quote {
  /* font-size: 20px;
  font-weight: 400; */
  color: lightgrey;
}

.stat-block {
  position: relative;
  border-radius: 5px;
  box-shadow: inset 0 0 8px hsl(0, 0%, 5%)
}

.stat-icon {
  color: hsl(210,12%,30%);
}

.stat-icon-background {
  background-color: hsl(210,12%,30%);
}

.ctrl-btn {
  position: fixed;
  top: 6vh;
  left: 10vw;
}

.btn-help-menu {
  position: fixed;
  top: 6vh;
  left: 80vw;
  width: 10vw;
}

.tile {
  position: absolute;
  border: solid;
  border-radius: 6px;
  border-width: 0px;
  border-color: #106f77;
  transition: .1s;
}

/* SET background colors and images here*/
.tile-GROUND {
  background-color: #009688;
}

.tile-WALL {
  background-color: #106f77;
}

.tile-Dijkstra {
  z-index: 1;
  transition: .5s;
}

.item {
  position: absolute;
  border-radius: 6px;
  z-index: 2;
}


@keyframes throw {
    0%   {
      transform: rotate(0deg);
    }
    25%  {
      transform:  rotate(359deg);
    }
    50%  {
      transform:  rotate(659deg);
    }
    100% {
      transform:  rotate(879deg);
    }

}

.thrown-dice {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50vw;
  top: 50vh;
  border-radius: 6px;
  transition: .2s;
  z-index: 3;
  /* filter: brightness(0.5) sepia(1) hue-rotate(-120deg) saturate(5); */
  /* fill: red; */
  /* animation-name: throw;
  animation-duration: 2s; */
  animation: App-logo-spin 1 1s ease-out;
}

.dice-hit {
  background-image: url('./svgs/enemy/revolt.svg');
}
.dice-hit-defense {
  background-image: url('./svgs/enemy/round-shield.svg');
}
.dice-critical {
  background-image: url('./svgs/enemy/electric.svg');
}
.dice-miss {
  background-image: url('./svgs/enemy/cross-mark.svg');
}

.dice-hit-player {
  background-image: url('./svgs/player/revolt.svg');
}
.dice-hit-defense-player {
  background-image: url('./svgs/player/round-shield.svg');
}
.dice-critical-player {
  background-image: url('./svgs/player/electric.svg');
}
.dice-miss-player {
  background-image: url('./svgs/player/cross-mark.svg');
}

.player {
  position: absolute;
  border-radius: 6px;
  transition: .2s;
  z-index: 2;
}

.player:hover {
  border: solid;
  border-radius: 6px;
  border-width: 5px;
  border-color: #aa4843;
  transition: .3s;
}

.tile:hover {
  transition: .1s;
  border-width: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
