html {
  background-color: var(--title-bg-dark-color);
  /* background-color: hsl(210,12%,30%); */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

:root {
  /* Gray/Teal */
  --title-text-color: lightgrey;
  --title-text-bd-color: #2bbbad;
  --title-bg-color: grey;
  --title-bg-dark-color: #616161;
  --title-tile-color: grey;

  /* Purple/Orange */
  /* --title-text-color: #d1c4e9;
  --title-text-bd-color: #ef6c00;
  --title-bg-color: #673ab7;
  --title-bg-dark-color: #4527a0; */
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.TitleScreen {
  background-color: var(--title-bg-color);
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.TitleScreen .music-toggle {
  position: absolute;
  top: 10px;
  right: 30px;
  color: var(--title-text-color);
  font-size: 30px;
  cursor: pointer;
}

@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
.TitleScreen .title-tile {
  height: 200px;
  width: 200px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--title-tile-color);
  display: inline-block;
}

.TitleScreen .tile-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  height: 100vh;
  width: 100vw;
}

.TitleScreen .game-name {
  color: var(--title-text-color);
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.TitleScreen .game-name:before,
.TitleScreen .game-name:after {
  content: '';
  padding: .9em .4em;
  position: absolute;
  left: 50%;
  width: 25%;
  top: 50%;
  display: block;
  border: 15px solid red;
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 10s infinite alternate ease-in-out tipsy;
}

.TitleScreen .game-name:before {
  border-color: var(--title-text-bd-color) var(--title-text-bd-color) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.TitleScreen .game-name:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--title-text-bd-color) var(--title-text-bd-color);
  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
}

.TitleScreen .game-signature {
  position: relative;
  left: 35%;
  display: flow-root;
  letter-spacing: normal;
  color: var(--title-text-color);
  font-size: 15px;
  font-weight: bold;
}

.TitleScreen .key-prompt {
  position: relative;
  top: 60%;
  left: 0;
  display: block;
  width: 25%;
  margin: auto;
  background-color: rgba(38, 166, 154, 0.5);
  border: 6px solid var(--title-text-bd-color);
  font-size: 20px;
  font-weight: bold;
  color: var(--title-text-color);
}

.TitleScreen .key-prompt:hover {
  background-color: var(--title-text-bd-color) !important;
  width: 50%;
  transition: .2s ease-in;
}

@media (max-width: 767px) {
  .TitleScreen .key-prompt {
    top: 90%;
    width: 90%;
  }

  .TitleScreen .key-prompt:hover {
    width: 90%;
  }

  .TitleScreen .game-signature {
    left: 16%;
  }
}

#title-transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0;
  z-index: -1;
}

.title-transition {
  z-index: 10 !important;
  opacity: 1 !important;
}

#toast-container {
  top: 0 !important;
  right: auto !important;
  max-height: 150px;
}

.btn .badge {
  margin-left: 15px;
  margin-top: 7px;
  border-radius: 100% !important;
}

.MobileMoveControls {
  position: absolute;
}

@-webkit-keyframes greenPulseBorder {
  from { color: #749a02; box-shadow: 0 0 9px #333; }
  50% { color: #91bd09; box-shadow: 0 0 18px #91bd09; }
  to { color: #749a02; box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes greenPulseText {
  from { color: #749a02; text-shadow: 0 0 9px #333; opacity: .3;}
  50% { color: #91bd09; text-shadow: 0 0 18px #91bd09; opacity: .9;}
  to { color: #749a02; text-shadow: 0 0 9px #333; opacity: .3;}
}

@-webkit-keyframes redPulseText {
  from { color: #bc330d; text-shadow: 0 0 9px #333; }
  50% { color: #e33100; text-shadow: 0 0 18px #e33100; }
  to { color: #bc330d; text-shadow: 0 0 9px #333; }
}

.MobileMoveControls span {
  position: absolute;
  z-index: 3;
  font-size: 5em;
  -webkit-animation-name: greenPulseText;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
}

.MobileMoveControls span:hover {
  -webkit-animation-name: redPulseText;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

#mobile-move-left {
  top: -29px;
  left: -40px;
}

#mobile-move-right {
  top: -29px;
  left: 64px;
}

#mobile-move-up {
  bottom: -30px;
  left: 2px;
}

#mobile-move-down {
  bottom: -130px;
  left: 2px;
}

#mobile-move-stay {
  top: -10px;
  left: 0px;
  font-size: 50px;
}

.game-container {
  position: relative;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  background-color: var(--title-bg-color);
  /* background-color: slategrey; */
  overflow: hidden;
  box-shadow: 8px 10px 50px hsl(0, 0%, 5%);
}

.SessionStats {
  position: fixed;
  top: 0px;
  width: 100vw;
}

.SessionStats span {
  color: lightgrey;
  font-size: 30px;
  font-weight: bold;
}

.Inventory {
  position: absolute;
  top: 10vh;
  left: 92vw;
  width: 6vw;
  height: 80vh;
  border-radius: 10px;
  background-color: var(--title-bg-color);
  /* background-color: slategrey; */
}

.StatBar {
  position: absolute;
  border-radius: 10px;
  background-color: lightgrey;
  box-shadow: 8px 10px 50px hsl(0, 0%, 5%);
}

.EquipmentCompare .card {
  background-color: grey;
}

.EquipmentCompare .item-compare-card {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.EquipmentCard {
  background-color: #555;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 0 20px black;
  min-height: 50px;
}

.EquipmentCard .slot-name {
  float: left;
}

.equipment-stats {
  float: left;
  font-size: 20px;
}

.card-prompt .card {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  max-height: 60vh;
  overflow-y: visible;
  z-index: 10;
  color: lightgrey;
  box-shadow: 5px 10px 10px #333;
  margin: 0;
}

.card-content {
  overflow-y: scroll;
  max-height: 60vh;
}

.HelpMenu .collapsible-header {
  background-color: hsl(210,12%,30%);
}

.HelpMenu .collapsible-body {
  background-color: grey;
}

.card-prompt .card {
  background-color: var(--title-bg-dark-color);;
}

.card-prompt .title {
  color: lightgrey;
}

.card-prompt .quote {
  /* font-size: 20px;
  font-weight: 400; */
  color: lightgrey;
}

.stat-block {
  position: relative;
  border-radius: 5px;
  box-shadow: inset 0 0 8px hsl(0, 0%, 5%);
}

.stat-icon {
  color: var(--title-bg-color);
  /* color: hsl(210,12%,30%); */
}

.stat-icon-background {
  background-color: var(--title-bg-color);
  /* background-color: hsl(210,12%,30%); */
}

.btn-menu svg {
  vertical-align: middle;
}

.ctrl-btn {
  position: fixed;
  top: 6vh;
  left: 10vw;
}

.btn-help-menu {
  position: fixed;
  top: 6vh;
  left: 80vw;
  width: 10vw;
}

.tile {
  position: absolute;
  border: solid;
  border-radius: 6px;
  border-width: 0px;
  border-color: #106f77;
  opacity: 0;
  transition: .1s;
}

/* SET background colors and images here*/
.tile-GROUND {
  background-color: #009688;
}

.tile-WALL {
  background-color: #106f77;
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  transform: scaleZ(1.4);
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  10% { transform: translate(-2px, -4px) rotate(-10deg); }
  20% { transform: translate(-6px, 0px) rotate(10deg); }
  30% { transform: translate(6px, 4px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(10deg); }
  50% { transform: translate(-2px, 4px) rotate(-10deg); }
  60% { transform: translate(-6px, 2px) rotate(0deg); }
  70% { transform: translate(6px, 2px) rotate(-10deg); }
  80% { transform: translate(-2px, -2px) rotate(10deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -4px) rotate(-10deg); }
}

.tile-Dijkstra {
  z-index: 1;
  transition: .5s;
}

.item {
  position: absolute;
  border-radius: 6px;
  opacity: 0;
}


@keyframes throw {
    0%   {
      transform: rotate(0deg);
    }
    25%  {
      transform:  rotate(359deg);
    }
    50%  {
      transform:  rotate(659deg);
    }
    100% {
      transform:  rotate(879deg);
    }
}

.thrown-dice {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 50vw;
  top: 50vh;
  border-radius: 6px;
  border: 2px solid white;
  transition: .2s;
  z-index: 3;
  /* animation: App-logo-spin 1 1s ease-out; */
  animation: fade 1 4s ease-out;

}

.player {
  position: absolute;
  border-radius: 6px;
  transition: .2s;
}

.monster {
  opacity: 0;
}

.tile:hover {
  transition: .1s;
  border-width: 5px;
}

@keyframes fade {
  from { opacity: .8;}
  to { opacity: 0;}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); opacity: .8;}
  to { transform: rotate(360deg); opacity: 0;}
}

@media(max-width: 767px) {
  .game-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }
  .card-prompt .card {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
  }
  .Inventory,
  .StatBar,
  .SessionStats,
  .MenuButtons {
    display: none;
  }
}

.MenuButtons {
  position: absolute;
  top: 5vh;
  left: 10vw;
}

.MenuButtons-mobile {
  position: relative;
  z-index: 2;
  float: left;
}

.VolumeControl {
  /* position: absolute;
  z-index: 5;
  right: 10px;
  top: 30px; */
}

.VolumeControl input {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.VolumeControl input:hover {
    opacity: 1;
}

.VolumeControl input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #26a69a;
    cursor: pointer;
}

.VolumeControl input::-moz-range-thumb {
    background: #26a69a;
    cursor: pointer;
}

.SessionStats-mobile {
  position: absolute;
  background-color: rgba(0, 0, 0, .7);
  z-index: 4;
  border-radius: 10px;
  width: 20%;
  font-size: 180%;
}

.SessionStats-mobile:focus {
  left: 0;
}

.SessionStats-mobile .row {
  margin: 0;
}

.SessionStats-mobile span {
  color: lightgrey;
  font-weight: bold;
}

@media(min-width: 767px) {
  .MenuButtons-mobile,
  .SessionStats-mobile,
  .Inventory-mobile,
  .MobileMoveControls {
    display: none;
  }
}

/*  BATTLE SIMULATOR */
.BattleSim .actor-display {
  position: relative;
  margin: auto;
  width: 50%;
}
.BattleSim .actor-display svg {
  position: relative;
  margin: auto;
  width: 100%;
}

.BattleSim input {
  height: 100px !important;
  font-size: 40px !important;
  color: lightgrey !important;
}

.BattleSim select {
  display: block;
  color: gray;
  height: auto;
}

.results-wl, .results-percent {
  font-size: 2em;
  margin: 0;
}
